<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <link rel="icon" type="image/svg+xml" href="./vite.svg" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
      <title>404</title>
      <link rel="stylesheet" href="./assets/index-b3e3719b.css">
    </head>
    <body class="bg-gradient-to-l from-cyan-500 to-blue-500">
        <%- include('nav'); -%>
        <div class="p-5 text-center text-4xl text-white">Sorry, not a page to go to</div>
    </body>
  </html>
