<div class="bg-black">
    <div class="m-auto max-w-5xl p-5 pb-16 text-white max-lg:px-12">
      <div class="text-center">
        <span class="material-icons text-4xl translate-y-1">html</span>
        <span class="material-icons text-4xl translate-y-1">css</span>
        <span class="material-icons text-4xl translate-y-1">javascript</span>
      </div>
      <h2 class="text-xl text-center">Thank you for visiting my site. Hope you have a great day. Good bye !</h2>
    </div>
</div>