<div class="overflow-hidden bg-[#e62f5f] sticky top-0 z-10">
    <ul class="navbar  max-lg:w-full max-w-5xl">
      <li class="navbar-item text-lg"><a href="/">Home</a></li>
      <li class="navbar-item text-lg"><a href="/#about">About</a></li>
      <li class="navbar-item text-lg"><a href="/#exp">Exp</a></li>
      <li class="navbar-item text-lg"><a href="/#contact">Contact</a></li>
    </ul>
</div>